<div class="container mx-auto mt-4 px-4">
    <%= render partial: 'shared/error_messages', locals: { object: @user } %>
</div>

<main class="flex-grow flex items-center justify-center py-10 px-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-bold text-gray-800 text-center mb-6">ユーザー登録</h1>
        <%= form_with model: @user, class: "space-y-6" do |f| %>
            <div>
                <%= f.label :nickname, class: "block text-gray-700 font-medium" %>
                <%= f.text_field :nickname, class: "w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <div>
                <%= f.label :email, class: "block text-gray-700 font-medium" %>
                <%= f.email_field :email, class: "w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <div>
                <%= f.label :password, class: "block text-gray-700 font-medium" %>
                <%= f.password_field :password, class: "w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <div>
                <%= f.label :password_confirmation, class: "block text-gray-700 font-medium" %>
                <%= f.password_field :password_confirmation, class: "w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>
            <%= f.submit "登録", class: "w-full bg-blue-500 text-white py-3 rounded-lg font-semibold hover:bg-blue-600 transition duration-200" %>
        <% end %>
        <div class='text-center mt-6'>
            <%= link_to 'ログインページへ', login_path, class: "text-blue-500 hover:underline font-medium" %>
        </div>
    </div>
</main>