<%= form_with model: desk do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: "10" %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>